/* HELPERS */

/*Spacers */
.spacer100
{
    height: 100%;
    width: 100%;
}

.spacer60 
{
    height: 60px;
    width: 100%;
}

.spacer15 
{
    height: 15px;
    width: 100%;
}
